
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2A2A2A;
}
.card {
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    gap: 20px;
  }
  
  footer a{
    text-decoration: none!important;
  }
  .socialContainer {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 15px;
  }
  .containerOwn:hover {
    background-color: red;
    transition-duration: .3s;
  }
  .containerOne:hover {
    background-color: red;
    transition-duration: .3s;
  }
  .containerTwo:hover {
    background-color: red;
    transition-duration: .3s;
  }
  .containerThree:hover {
    background-color: red;
    transition-duration: .3s;
  }
  .containerFour:hover {
    background-color: red;
    transition-duration: .3s;
  }
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  .socialIcon {
    color: white;
  }
  .socialContainer:hover .socialIcon {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media screen and (max-width: 800px){
    h3{
        display: none;
    }
  }